table, td, th{
  border: 1px solid black;
  border-collapse: collapse;
}

td, th{
  width: 120px;
  height: 120px;
}

td{
  vertical-align: top;
  font-style: italic;
}

/*토요일에 파랑색으로 색상을 준다.*/
th:nth-child(7n), td:nth-child(7n){
  color: blue;
}
/*일요일에 빨강으로 색상을 준다.*/
th:nth-child(7n-6), td:nth-child(7n-6){
  color: red;
}
#Year_Month{
  color: black;
}

/*Modal*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-addplan-content {
  background-color: #fefefe;
  margin: auto;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
  width: 200px;
  height: 100px;
}

.modal-addplan-content>p{
  position: relative;
  text-align: center;
  margin: 5px;
  margin-bottom: 15px;
}
.modal-addplan-content>input{
  display: block;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
}

.modal-addplan-content>button{
  position: relative;
  left: 25%;
  margin-left: 0;
}

/* Planning List */
td>#plan_list{
  font-size: 1rem;
  font-style: normal;
  background-color: #e3e4ea;
  border: 1px solid black;
  padding: 4px;
  margin-bottom: 2px;
  margin-left: 2px;
  width: 85%;
  height: 16px;
}

#plan_list>span{
  font-size: 1rem;
  color: black;
  float: right;
  font-weight: bold;
  margin-right: 5px;
}

#plan_list>span:hover{
  color: red;
  cursor: pointer;
}
